* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --cor-amarela: RGB(255, 194, 52);
  --cor-marrom: RGB(65, 31, 9);
  --cor-vermelho: RGB(223, 28, 28);
}
.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--cor-amarela);
}

.menu ul {
  display: flex;
  /* A funcao do "list-style" */
  list-style: none;
  gap: 20px;
}
.menu ul li a {
  /* tira o sublinhado do texto padrao */
  text-decoration: none;
  color: var(--cor-marrom);
}
.container {
  background-color: var(--cor-amarela);
  color: var(--cor-marrom);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-01 {
  width: 40%;

  flex-direction: column;
  display: flex;
  /* Centraliza no meio da tela */
  justify-content: center;
}
.container-01 h1 {
  font-size: 70px;
}
.container-01 h2 {
  font-size: 28px;
}
.container-02 {
  width: 40%;
  position: relative;
}

.img-preco {
  position: absolute;
  left: 0;
  bottom: 0;
}
section {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
section p {
  text-align: center;
}

.t01 {
  padding: 30px;
  font-size: 20px;
  padding: 15px;
  background-color: var(--cor-amarela);
}
.container-cards {
  /* border: solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.card {
  /* border: solid red; */
  display: flex;
  align-items: center;
  /* controla o espaçamento horizontal entre os itens em um contêiner */
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.card img {
  width: 100%;
}

.container-img {
  display: flex;
  align-items: flex-end;
}

.container-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
}
.card button {
  border: none;
}
.card a {
  border: none;

  color: white;
  background-color: var(--cor-vermelho);
  text-decoration: none;
  align-items: center;

  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 50px;
  height: 500px;
}
.container-form {
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 20px;

  input::placeholder {
    color: var(--cor-marrom);
  }

  input {
    border: 1px solid var(--cor-amarela);
    background-color: var(--cor-amarela);

    width: 100%;
    padding: 15px;
    border-radius: 5px;
    padding: 10px;
  }
}
input[type="text"] {
  border: none;
  background-color: var(--cor-amarela);

  padding: 15px;
  height: 50px;
  width: 250px;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: var(--cor-vermelho);
  color: white;
  border-radius: 5px;
}
.container-form div input {
  border: none;
  /* a largura que conteudo pega na pagina */
  width: 300px;
  /* a altura que conteudo pega na pagina*/
  height: 45px;
}
footer {
  background-image: url(img/rodape/fundo.png);
  display: flex;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  padding: 50px;

  color: wheat;
}
.footer-01 img {
  width: 50%;
}
.footer-01 {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-right: 50px;
  width: 50%;
  gap: 40px;
}
.footer-01 p {
  text-align: justify;
}
.footer-02 {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 10px;
  padding: 10px;
  width: 50%;
  height: 210px;
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.container-footer0 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.container-redes {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.container-redes p {
  text-align: justify;
}
